<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        ">

    <aop:aspectj-autoproxy proxy-target-class="true">
    </aop:aspectj-autoproxy>
    <bean id="circlairtyA" class="com.gxf.circule_beans.CirclairtyA">
        <property name="circlairtyB" ref="circlairtyB"/>
    </bean>
    <bean id="circlairtyB" class="com.gxf.circule_beans.CirclairtyB">
        <property name="circlairtyC" ref="circlairtyC"/>
    </bean>
    <bean id="circlairtyC" class="com.gxf.circule_beans.CirclairtyC">
        <property name="circlairtyA" ref="circlairtyA"/>
    </bean>
    <!--chapter4-->
    <bean id="mockBO" class="com.gxf.spring.jiemi.chapter4.MockBuinessObject">
        <constructor-arg type="java.lang.String" index="1">
            <value>111111</value>
        </constructor-arg>
        <constructor-arg value="22222" type="java.lang.String" index="0"/>
    </bean>
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="thread" value="com.gxf.spring.jiemi.chapter4.ThreadScope"/>
            </map>
        </property>
    </bean>
    <bean id="nextDayDate" class="com.gxf.spring.jiemi.chapter4.NextDayDateFactoryBean">
    </bean>
    <bean id="nextDayPlayer" class="com.gxf.spring.jiemi.chapter4.NextDayDateDisplayer">
        <property name="dateOfNextDay">
            <ref bean="nextDayDate"/>
        </property>
    </bean>
    <bean id="dateFoo" class="com.gxf.spring.jiemi.chapter4.DateFoo">
        <property name="date">
            <value>2018/3/27</value>
        </property>
    </bean>
    <!--chapter 10-->

    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator">
        <property name="proxyTargetClass" value="true"></property>
    </bean>
    <bean id="target" class="com.gxf.spring.jiemi.chapter10.Foo"></bean>
</beans>